# Node
node_modules/
npm-debug.log*


# Environment
.env
.env.local

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.claude/

# Build output
dist/
build/

# AWS
.aws-sam/

# Misc
*.log
.tmp/
.pytest_cache/
.sam-appdata/
.vendor/
vendor_py/
**/__pycache__/
*.pyc

# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log

# Opcional: si usas plan file
**/*.tfplan
